<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="language" content="en-US"
        <meta name="description" content="live sports scores web application">
        <meta name="keywords" content="sports, scores, live sports, Football, Basketball, Baseball, Hockey, Soccer">
        <meta name="author" content="Ethan Sledzinski">
        <meta name="viewpoints" content="width=device-width, intial-scale=1.0">
        <title>Sleds Sports</title>
        <link rel="shortcut icon" href="../public/Images/trophy-png-30567.png" type="jpeg">
        <script src="https://kit.fontawesome.com/6f5f524506.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/style_sheet.css">
    </head>

    <body>
        <header id="page_header">
            <h1>Sleds Sports</h1>
            <img src="../public/Images/trophy-png-30567.png" alt="trophy image">
            <nav id="nav_bar">
                <p id="p_menu">What Sport Is For You?</p>
                    <menu> 
                        <a href="../index.html"> <i class="fas fa-home"></i>Home</a>                       
                        <a href="./football.html"><i class="fas fa-football-ball"></i>Football Scores</a>
                        <a href="./baseball.html"><i class="fas fa-baseball-ball"></i>Baseball Scores</a>
                        <a href="./basketball.html"><i class="fas fa-basketball-ball"></i>Basketball Scores</a>
                        <a class="active" href="./hockey.html"><i class="fas fa-hockey-puck"></i>Hockey Scores</a>
                        <a href="./soccer.html"><i class="fas fa-futbol"></i>Soccer Scores</a>
                    </menu>
            </nav>
        </header>

    
        
        <main id="page_main_content">
            <h2>The Best Name In Sports</h2> 
            <p>Todays Hockey Scores: </p>
            
            <ul>
                <li><a href="../index.html"> <i class="fas fa-home"></i>Home</a></li>                    
                <li><a href="./football.html"><i class="fas fa-football-ball"></i>Football Scores</a></li>
                <li><a href="./baseball.html"><i class="fas fa-baseball-ball"></i>Baseball Scores</a></li>
                <li><a href="./basketball.html"><i class="fas fa-basketball-ball"></i>Basketball Scores</a></li>
                <li><a class="active" href="./hockey.html"><i class="fas fa-hockey-puck"></i>Hockey Scores</a></li>
                <li><a href="./soccer.html"><i class="fas fa-futbol"></i>Soccer Scores</a></li>
            </ul>

        </main>

        <footer id="page_footer">
            <br>
            <hr>
            <p>&copy; 2021, Ethan Sledzinski</p>  
            <a href="https://www.instagram.com" aria-label="Instagram" target="_self">
                <i class="fab fa-instagram fa-2x"></i>Instagram</a>  
            <a href="https://www.facebook.com">
                <i class="fab fa-facebook fa-2x"></i>Facebook</a>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter fa-2x"></i>Twitter</a>
            <br>
            <a href="#page_header"><button type="menu">Return To The Top Of The Page</button></a>
        </footer>
    </body>

</html>