<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="language" content="en-US"
        <meta name="description" content="live sports scores web application">
        <meta name="keywords" content="sports, scores, live sports, Football, Basketball, Baseball, Hockey, Soccer">
        <meta name="author" content="Ethan Sledzinski">
        <meta name="viewpoints" content="width=device-width, intial-scale=1.0">
        <title>Sleds Sports</title>
        <link rel="shortcut icon" href="../public/Images/trophy-png-30567.png" type="jpeg">
        <script src="https://kit.fontawesome.com/6f5f524506.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./public/css/style_sheet.css">
        <script src="../public/js/subscribe.js" defer></script>
    </head>

    <body>
        <header id="page_header">
            <h1>Sleds Sports</h1>
            <nav id="nav_bar">
                <p id="p_menu">What Sport Is For You?</p>
                    <menu> 
                        <a id="mnav2" href="/"> <i class="fas fa-home"></i>Home</a>                       
                        <a id="mnav2" href="/football"><i class="fas fa-football-ball"></i>Football Scores</a>
                        <a id="mnav2" href="/baseball"><i class="fas fa-baseball-ball"></i>Baseball Scores</a>
                        <a id="mnav2" href="/basketball"><i class="fas fa-basketball-ball"></i>Basketball Scores</a>
                        <a id="mnav2" href="/hockey"><i class="fas fa-hockey-puck"></i>Hockey Scores</a>
                        <a id="mnav2" href="/soccer"><i class="fas fa-futbol"></i>Soccer Scores</a>
                    </menu>
            </nav>
        </header>

<main class="container">
    <section class="one">
     <div class="logo2">
        <img src="./public/Images/trophy-png-30567.png" alt="trophy image">
     </div>
     <h2 class="heading">
       please subscribe to get updates
     </h2>
     <p> signup with your email to get latest updates 
     </p>
     <form>
       <input type='text' placeholder="enter your email"><br/>
       <button class="btn" role="button">
         subscribe
       </button>
     </form>
     </section>
    </main>

   


   <footer id="page_footer">
    <br>
    <hr>
    <p>&copy; 2021, Ethan Sledzinski</p> 
    <a href="https://www.instagram.com" aria-label="Instagram" target="_self">
        <i class="fab fa-instagram fa-1x"></i>Instagram</a>  
    <a href="https://www.facebook.com">
        <i class="fab fa-facebook fa-1x"></i>Facebook</a>
    <a href="https://www.twitter.com">
        <i class="fab fa-twitter fa-1x"></i>Twitter</a>
    <br>
    <a href="#page_header"><button type="menu">Return To The Top Of The Page</button></a>
</footer>

</body>