head{
    background:radial-gradient(#238dbb, #114476);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background:radial-gradient(#238dbb, #114476);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 232, 232);
}

h1{
    color: #122129;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    border:groove 5px rgb(235, 232, 232);
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    -moz-box-shadow: 10px 10px 13px #000000;
    -webkit-box-shadow: 10px 10px 13px #000000; 
    box-shadow: 10px 10px 13px black;
}

h2{
    color: #122129;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    border-top: rgb(235, 232, 232);
    border-bottom: rgb(235, 232, 232);
    border-left: #d3d3d3;
    border-right: #2d3436;
    border:groove 5px;
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
}

h4{
    color: #122129;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
    text-align: center;
    border:groove 5px rgb(235, 232, 232);
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
}

img{
    width: auto;
    margin: auto;
    display: block;
    border:groove 5px rgb(235, 232, 232);
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
    
}

menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    text-align: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    border-top: rgb(235, 232, 232);
    border-bottom: rgb(235, 232, 232);
    border-left: #d3d3d3;
    border-right: #2d3436;
    border:groove 5px;
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;

}

main{
    background-color: #122129;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    padding: 2%;
    border:groove 5px rgb(235, 232, 232);
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;   
}

#pMain{
  text-align: center;
}

a{
    color: rgb(235, 232, 232);
}

hr{
    border:groove 5px rgb(235, 232, 232);
}

#p_menu{
    color: rgb(235, 232, 232);
    background-color: #122129;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
    text-align: center;
    border:groove 5px rgb(235, 232, 232);
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
}

a:hover{
    background: linear-gradient(90deg, #ba800d, #f3d836, #f2e9a6, #c3ae61, #e2b718, #e4a40d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#mnav2:hover{
  background: linear-gradient(90deg, #ba800d, #f3d836, #f2e9a6, #c3ae61, #e2b718, #e4a40d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#mnav:hover{
  background: linear-gradient(90deg, #ba800d, #f3d836, #f2e9a6, #c3ae61, #e2b718, #e4a40d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.active{
    background-color: #e2b718;
     
}

.conta{
    font-size: large;
    padding: 3%;
 }
 #commentZone{
    color: rgb(235, 232, 232);
    background-color: #2d3436;
    border:groove 5px rgb(235, 232, 232);
    width: 98%;
    margin-bottom: 1.5%;
    resize: none;
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 #pComments {
    width: 10%;
    padding: 1.5%;
    color: rgb(235, 232, 232);
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    border:groove 5px rgb(235, 232, 232);
    margin-bottom: 1.5%;
    display: none;
    margin-left: 9.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 
 #lComment{
    width: 10%;
    padding: 1.5%;
    margin-bottom: 1.5%;
    color: rgb(235, 232, 232);
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    border:groove 5px rgb(235, 232, 232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 
 
 .wrapper > button{ 
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    padding: 1.5%;
    color: rgb(235, 232, 232);
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    border:groove 5px rgb(235, 232, 232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }


 .container{
    width:400px;
    height:550px;
    background:#122129;
    margin:45px auto;
    border-radius:4px;
    text-align:center;
    position:relative;
    -moz-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     overflow:hidden;
  }
  

  .one{
    display:block;
    height:500px;
    width:400px;
    margin:0px auto;
    position:absolute;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }
  
  .one{
    top:0;
    background:#122129;
    margin-top:10px;
  }
  
  .container .logo2{
    width:60%;
    height:auto;
    display:block;
    margin:20px auto;
  }
  
  .one  .heading{
    color:#ffffff;
    text-transform:capitalize;
    font-size:20px;
    font-weight:900;
    margin-top:40px;
  }
  
  .container p{
    font-size:18px;
    color:#b7b7b7;
    font-weight:lighter;
    text-transform:capitalize;
  }
  
  input[type='text']{
    width:85%;
    height:60px;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:-80px;
    border:none;
    border-bottom:3px solid #b7b7b7;
    overflow:auto;
    position:relative;
  }
  
  input[type='text']:active:focus,
  input[type='text']:focus,
  input[type='text']:hover{
    outline : none;
    font-size:20px;
  }
  
  input[type='text']:focus::-webkit-input-placeholder,
  input[type='text']:active:focus::-webkit-input-placeholder
  {
    font-size:12px;
    display:block;
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  
  ::-webkit-placeholder{
    font-size:14px;
    color:#b7b7b7;
    text-transform:capitalize;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
  }
  
  ::placeholder{
    font-size:14px;
    color:#b7b7b7;
    text-transform:capitalize;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
  }
  
  .one  .btn{
    width:85%;
    background:#b7b7b7;
    padding:15px;
    border:none;
    border-radius:5px;
    font-size:14px;
    color:#fff;
    text-transform:capitalize;
    font-family: 'Open Sans', sans-serif;
  }
  
  .one  .btn:active:focus,
  .one  .btn:focus,
  .one  .btn:hover{
    outline : none;
  }
  
  .one .btn:hover{
    cursor:pointer;
  }
  
  .close{
    position:relative;
    top:0;
    left:0;
    display:block;
    cursor:pointer;
  }
  
  .close:before{
    content:"";
    position:absolute;
    top:-240px;
    right:50px;
    display:block;
    width:22px;
    height:3px;
    background:#fff;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
  .close:after{
    content:"";
    position:absolute;
    top:-240px;
    right:50px;
    display:block;
    width:22px;
    height:3px;
    background:#fff;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }

  #main_nav{
    text-align: center;
    margin: auto;
    padding: 1%;
    border-top: rgb(235, 232, 232);
    border-bottom: rgb(235, 232, 232);
    border-left: #d3d3d3;
    border-right: #2d3436;
    border:groove 3px;
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);

  }

  #main_nav2{
    text-align: center;
    margin: auto;
    padding: 1%;
    border-top: rgb(235, 232, 232);
    border-bottom: rgb(235, 232, 232);
    border-left: #d3d3d3;
    border-right: #2d3436;
    border:groove 3px;
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);

  }

  #mnav{
    color: #122129;
  }

  #mnav2{
    color: #122129;
  }

  #subscribeBox{
    background: linear-gradient(90deg, #ba800d, #f3d836, #f2e9a6, #c3ae61, #e2b718, #e4a40d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 1%;
    border-top: rgb(235, 232, 232);
    border-bottom: rgb(235, 232, 232);
    border-left: #d3d3d3;
    border-right: #2d3436;
    border:groove 3px;
    -moz-border-radius-topleft: 59px;
    -moz-border-radius-topright:16px;
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:59px;
    -webkit-border-top-right-radius:16px;
    -webkit-border-bottom-left-radius:16px;
    -webkit-border-bottom-right-radius:75px; 
    border-top-left-radius:59px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:75px;
    box-shadow: 10px 10px 13px black;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%); 
  }